.message-history{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.message-history:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.sender{
    color: red;
    text-transform: uppercase;
}

.send .date{
    color: green;
    text-transform: uppercase;
}
.message{
    padding: 1rem;
    width: 100%;
    color: var(--main-color);
    font-family: var(--font-family);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.subject, .date, .status ,.reply{
    color: var(--main-color);
    font-size: larger;
    
    
}